<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{__basePath}/css/default.css" media="screen,projection" />
<title>A.2.&nbsp;A static page in single flow mode. This approach requires only one template in the template directory. | Piece_Unity Examples</title>
</head>
<body>
<div id="page">
  <div id="header">
    <h1>Piece_Unity Examples</h1>
  </div><!-- close #header -->
  <div id="content">
    <h4 class="date-header">A.2.&nbsp;A static page in single flow mode. This approach requires only one template in the template directory.</h4>
    <h2>Hello World!</h2>
  </div><!-- close #content -->
  <div id="footer">
    <p>Copyright &copy; 2006, KUBO Atsuhiro &lt;iteman at users dot sourceforge dot net&gt; All rights reserved.</p>
  </div><!-- close #footer -->
</div><!-- close #page -->
</body>
</html>
