<h1>A.&nbsp;Registration Application</h1>
  <ol>
    <li><a href="{__basePath}/register-with-non-exclusive-mode.php" onclick="w1=window.open(this,'newWindow04'); w1.focus(); return(false)">Registration Application with <strong>Non-Exclusive</strong> Mode.</a></li>
    <li><a href="{__basePath}/register-with-exclusive-mode.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowName(#RegistrationWithExclusiveMode#)}" onclick="w1=window.open(this,'newWindow04'); w1.focus(); return(false)" flexy:if="__continuation">Registration Application with <strong>Exclusive</strong> Mode.</a><a href="{__basePath}/register-with-exclusive-mode.php" onclick="w1=window.open(this,'newWindow04'); w1.focus(); return(false)" flexy:if="!__continuation">Registration Application with <strong>Exclusive</strong> Mode.</a></li>
  </ol>
