<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{__basePath}/css/default.css" media="screen,projection" />
<title>A.1. Registration application in single flow mode. | Piece_Unity Examples</title>
</head>
<body>
<div id="header">
  <h1>Piece_Unity Examples</h1>
</div><!-- end header -->
<div id="content">
  <h3>A.1. Registration application in single flow mode.</h3>
    <form name="Form">
      <p>
        First Name: <input type="text" name="first_name" />
      </p>
      <p>
        Last Name: <input type="text" name="last_name" />
      </p>
      <p>
        <input type="submit" name="{__eventNameKey}_confirmForm" value="confirm" />
      </p>
    </form>
</div><!-- end content -->
<div id="footer">
  <p>Copyright &copy 2006, KUBO Atsuhiro &lt;<a href="mailto:iteman@users.sourceforge.net">iteman@users.sourceforge.net</a>&gt; All rights reserved.</p>
</div><!-- end footer -->
</body>
</html>
