<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{__basePath}/css/default.css" media="screen,projection" />
<title>A.1. Registration application in single flow mode. | Piece_Unity Examples</title>
</head>
<body>
<div id="page">
  <div id="header">
    <h1>Piece_Unity Examples</h1>
  </div><!-- close #header -->
  <div id="content">
    <h4 class="date-header">A.1. Registration application in single flow mode.</h4>
      <form name="Form">
        <p class="error" flexy:if="_results.isError(#first_name#)">{_results.getErrorMessage(#first_name#)}</p>
        <p>
          First Name: <input type="text" name="first_name" />
        </p>
        <p class="error" flexy:if="_results.isError(#last_name#)">{_results.getErrorMessage(#last_name#)}</p>
        <p>
          Last Name: <input type="text" name="last_name" />
        </p>
        <p>
          <input type="submit" name="{__eventNameKey}_confirmForm" value="confirm" />
        </p>
      </form>
  </div><!-- close #content -->
  <div id="footer">
    <p>Copyright &copy; 2006 KUBO Atsuhiro &lt;iteman at users dot sourceforge dot net&gt;, All rights reserved.</p>
  </div><!-- close #footer -->
</div><!-- close #page -->
</body>
</html>
