<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{__basePath}/css/default.css" media="screen,projection" />
<title>B.2. Counter application in multiple flow mode and flow in exclusive mode. | Piece_Unity Examples</title>
</head>
<body>
<div id="page">
  <div id="header">
    <h1>Piece_Unity Examples</h1>
  </div><!-- close #header -->
  <div id="content">
    <h4 class="date-header">B.2. Counter application in multiple flow mode and flow in exclusive mode.</h4>
      <p>Counter: {counter}</p>
      <form name="Counter">
        <input type="hidden" name="{__flowExecutionTicketKey}" value="{__flowExecutionTicket}" />
        <input type="submit" name="{__eventNameKey}_check" value="check over 10" />
      </form>
  </div><!-- close #content -->
  <div id="footer">
    <p>Copyright &copy; 2006 KUBO Atsuhiro &lt;iteman at users dot sourceforge dot net&gt;, All rights reserved.</p>
  </div><!-- close #footer -->
</div><!-- close #page -->
</body>
</html>
