<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{__baseURLPath}/css/default.css" media="screen,projection" />
<title>B.2. Counter application in multiple flow mode and flow in exclusive mode. | Piece_Unity Examples</title>
</head>
<body>
<div id="header">
  <h1>Piece_Unity Examples</h1>
</div><!-- end header -->
<div id="content">
  <h3>B.2. Counter application in multiple flow mode and flow in exclusive mode.</h3>
    <p>Counter: {counter}</p>
    <a href="{__baseURL}">Restart Counter</a>
</div><!-- end content -->
<div id="footer">
  <p>Copyright &copy 2006, KUBO Atsuhiro &lt;<a href="mailto:iteman@users.sourceforge.net">iteman@users.sourceforge.net</a>&gt; All rights reserved.</p>
</div><!-- end footer -->
</body>
</html>
