/***************************************************
   HTML Element Styles
 ***************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: left;
  color: #333333;
  background: #f4f4f4 url(../images/bg.gif) top center repeat-y;
}

div, p, img, a, td, ul, ol {
  font-size: 1em; 
}

ol {
  margin-left: 1em;
  padding-left: 1em;
}

ol li {
  margin-left: 1em;
  padding: 0 0 .5em.3em;
  list-style: decimal;
}

h1, h2, h3, h4 {
  font-family: "Trebuchet MS", georgia, helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  margin: .5em 0;
  letter-spacing: .07em;
}

h1 { font-size: 218% }

h2 { font-size: 164%; }

h3 { font-size: 145%; }

h4 { font-size: 118%; letter-spacing: .15em }

p { padding: 0 0 1em; }

a, a:link { 
  text-decoration: none;
  color: #6699cc;
  border-bottom: 1px dotted #6699cc; 
}

a:visited { color: #666699; border-color: #666699; }

a:hover { color: #669933; border-color: #669933; text-decoration: none; }

a:active { color: #cc3333; border-color: #cc3333 }

a img, img {
  border: none;
}

ul {
    list-style: none;
    margin: 0 0 20px 1em;
}

li {
  list-style: none;
  padding-left: 1em;
  margin-bottom: 3px;
}

.clear {
  clear: both;
  height: 1px;
  margin: -1px 0 0;
  font-size: 1px;
}

/***************************************************
  Layout Element Styles
 ***************************************************/
#page {
    width: 780px;
    margin: 0 auto;
    text-align: left;
}

#content {
  float: left;
  text-align: left;
  width: 700px;
  margin: 20px 0 20px 40px;
  padding: 0;
  line-height: 1.5em;
}

/***************************************************
  Special text formatting 
 ***************************************************/
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
  color: #333333;
  margin: 1.5em 0 1.5em 0;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, cite {
  text-decoration: none;
}

h2 a:hover, h3 a:hover {
  color: #0066cc;
  border-bottom: 1px dotted #06c;
}

h2.pagetitle {
  margin-top: 30px;
  text-align: center;
}

h4.date-header {
  margin-top: 0;
  padding-left: 18px;
  font-size: 95%;
  color: #ff9933;
  background: url(../images/date_icon.gif) no-repeat 0 15%;
}

blockquote {
  margin: 0 0 0 30px;
  padding: 10px 0 0 20px;
  font-size: 88%;
  line-height: 1.5em;
  color: #666666;
  background: url(images/quotes.gif) no-repeat top left;
}

blockquote p { margin-top: 0; }

blockquote cite {
  margin: 5px 0 0;
  display: block;
}

code {
  font: 1em/2.5em 'Courier New', Courier, monospace;
  color: #444444;
  white-space: pre; 
  width: 350px;
  height: auto;
  overflow: auto;
  display: block;
  border: 1px solid #999;
  border-width: 2px 0;
  padding: 1em;
  margin: 0 0 1em 0;
  background-color: #fafafa;
}

li code { width: 330px }

.center { text-align: center;}
.textright { text-align: right; }

.alignright { float: right; }

.alignleft { float: left; }

hr { display: none; }

.error, .message {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ff0000;
  color: #ffffff;
}

.message {
  background-color: #ffcc00;
  color: #000000;
  border: 1px solid #336600;
}

.hide { display: none; }

/***************************************************
  Header Styles
 ***************************************************/
#header { 
  float: left;
  margin: 0 auto;
  background: #eeeeee url(../images/piece_header.jpg) top center no-repeat;
  position: relative;
  width: 780px;
  height: 100px;
}

#header h1 {
  margin: 30px 0 0 20px;
  color: #fff;
  text-shadow: #999999 2px 2px 2px;
}

#header h1 a {
  text-decoration: none;
  border-bottom: none;
  color: #fff;
}

#header h1 a:hover { 
  color: #eee; 
  text-shadow: #fff 0 0 4px;
}

/***************************************************
 Footer
 ***************************************************/
#footer {
  float: left;
  margin: 0 auto;
  width: 780px;
  margin: 0;
  padding: 0 0 9px 0;
  font-size: 85%;
  color: #ffffff;
  background: url(../images/piece_footer.jpg) no-repeat bottom left;
}

#footer p {
  padding: 15px 0px 15px 0px;
  text-align: center;
}

#footer a {
  border-bottom: none;
  color: #ffffff;
}

#footer a:hover, h3 a:hover {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}



